USE [master]
GO
/****** Object:  Database [TicketingSystem]    Script Date: 7/16/25 17:45:53 ******/
CREATE DATABASE [TicketingSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TicketingSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL2017CPE106\MSSQL\DATA\TicketingSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TicketingSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL2017CPE106\MSSQL\DATA\TicketingSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TicketingSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TicketingSystem]
GO
/****** Object:  Table [dbo].[Cinema]    Script Date: 7/16/25 17:45:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema](
	[CinemaID] [int] NOT NULL,
	[CinemaNum] [smallint] NOT NULL,
	[Seats] [int] NOT NULL,
	[SeatID] [int] NOT NULL,
 CONSTRAINT [PK_Cinema] PRIMARY KEY CLUSTERED 
(
	[CinemaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 7/16/25 17:45:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[MovieID] [int] NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Genre] [varchar](20) NOT NULL,
	[Duration] [int] NOT NULL,
	[DateRelease] [date] NOT NULL,
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NowShowing]    Script Date: 7/16/25 17:45:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NowShowing](
	[NowShowing] [varchar](100) NOT NULL,
	[TimeStart] [datetime] NOT NULL,
	[MovieID] [int] NOT NULL,
	[CinemaID] [int] NOT NULL,
	[TimeEnd] [int] NOT NULL,
 CONSTRAINT [PK_NowShowing] PRIMARY KEY CLUSTERED 
(
	[NowShowing] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promos]    Script Date: 7/16/25 17:45:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promos](
	[PromoCodeID] [int] NOT NULL,
	[Code] [varchar](6) NOT NULL,
	[Discount] [decimal](5, 2) NOT NULL,
	[Expiration] [date] NOT NULL,
	[ReservationID] [int] NOT NULL,
 CONSTRAINT [PK_Promos] PRIMARY KEY CLUSTERED 
(
	[PromoCodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation_]    Script Date: 7/16/25 17:45:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation_](
	[ReservationID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[CinemaID] [int] NOT NULL,
	[ReservationDate] [datetime] NOT NULL,
	[Amount] [float] NOT NULL,
 CONSTRAINT [PK_Reservation_] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 7/16/25 17:45:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[SeatID] [int] NOT NULL,
	[CinemaID] [int] NOT NULL,
	[SeatNum] [varchar](3) NOT NULL,
	[RowNum] [varchar](2) NOT NULL,
	[SeatType] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Seats] PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Snack Shop]    Script Date: 7/16/25 17:45:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Snack Shop](
	[SnacksID] [int] NOT NULL,
	[NameSnack] [varchar](50) NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_Snack Shop] PRIMARY KEY CLUSTERED 
(
	[SnacksID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Snacks_PreOrder]    Script Date: 7/16/25 17:45:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Snacks_PreOrder](
	[SnackPreOrder] [int] NOT NULL,
	[ReservationID] [int] NOT NULL,
	[SnacksID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_Snacks_PreOrder] PRIMARY KEY CLUSTERED 
(
	[SnackPreOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/16/25 17:45:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[LastName] [varchar](30) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[MiddleInitial] [varchar](2) NOT NULL,
	[Contact_Num] [varchar](11) NOT NULL,
	[Email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cinema]  WITH CHECK ADD  CONSTRAINT [FK_Cinema_Seats] FOREIGN KEY([SeatID])
REFERENCES [dbo].[Seats] ([SeatID])
GO
ALTER TABLE [dbo].[Cinema] CHECK CONSTRAINT [FK_Cinema_Seats]
GO
ALTER TABLE [dbo].[NowShowing]  WITH CHECK ADD  CONSTRAINT [FK_NowShowing_Cinema] FOREIGN KEY([CinemaID])
REFERENCES [dbo].[Cinema] ([CinemaID])
GO
ALTER TABLE [dbo].[NowShowing] CHECK CONSTRAINT [FK_NowShowing_Cinema]
GO
ALTER TABLE [dbo].[NowShowing]  WITH CHECK ADD  CONSTRAINT [FK_NowShowing_Movie] FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movie] ([MovieID])
GO
ALTER TABLE [dbo].[NowShowing] CHECK CONSTRAINT [FK_NowShowing_Movie]
GO
ALTER TABLE [dbo].[Promos]  WITH CHECK ADD  CONSTRAINT [FK_Promos_Reservation_] FOREIGN KEY([ReservationID])
REFERENCES [dbo].[Reservation_] ([ReservationID])
GO
ALTER TABLE [dbo].[Promos] CHECK CONSTRAINT [FK_Promos_Reservation_]
GO
ALTER TABLE [dbo].[Reservation_]  WITH CHECK ADD  CONSTRAINT [FK_Reservation__Cinema] FOREIGN KEY([CinemaID])
REFERENCES [dbo].[Cinema] ([CinemaID])
GO
ALTER TABLE [dbo].[Reservation_] CHECK CONSTRAINT [FK_Reservation__Cinema]
GO
ALTER TABLE [dbo].[Reservation_]  WITH CHECK ADD  CONSTRAINT [FK_Reservation__User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Reservation_] CHECK CONSTRAINT [FK_Reservation__User]
GO
ALTER TABLE [dbo].[Snacks_PreOrder]  WITH CHECK ADD  CONSTRAINT [FK_Snacks_PreOrder_Reservation_] FOREIGN KEY([ReservationID])
REFERENCES [dbo].[Reservation_] ([ReservationID])
GO
ALTER TABLE [dbo].[Snacks_PreOrder] CHECK CONSTRAINT [FK_Snacks_PreOrder_Reservation_]
GO
ALTER TABLE [dbo].[Snacks_PreOrder]  WITH CHECK ADD  CONSTRAINT [FK_Snacks_PreOrder_Snack Shop] FOREIGN KEY([SnacksID])
REFERENCES [dbo].[Snack Shop] ([SnacksID])
GO
ALTER TABLE [dbo].[Snacks_PreOrder] CHECK CONSTRAINT [FK_Snacks_PreOrder_Snack Shop]
GO
USE [master]
GO
