<configuration>
	<connectionStrings>
		<add name="MovieTicketingDBConnection"
			 connectionString="Data Source=localhost\SQL2017CPE106;Initial Catalog=TicketingSystem;User ID=admin_ticketing;Password=12345;Integrated Security=False;Encrypt=False;"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>